<h1>Raffler</h1>

<div data-ng-controller='RaffleCtrl'>
<form>
  <input type="text" data-ng-model="newEntry.name"/>
</form>

<ul>
  <li data-ng-repeat="entry in entries">
  	{{entry.name}}
  </li>
</ul>

</div>
